


<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="twitter:title" content="IPLT20.com - Indian Premier League Official Website"/>
<meta name="keywords" content="ipl, iplt20, indian premier league, ipl cricket, ipl match, ipl live, ipl score, ipl scorecard, ipl stats, ipl schedule, ipl results, ipl points table, ipl teams, ipl videos, ipl teams, ipl news, BCCI IPL"/>
<meta property="og:type" content="website"/>
<meta name="description" content="Visit IPLT20.com the official IPLT20 website for minute-to-minute LIVE updates."/>
<meta name="twitter:description" content="Visit IPLT20.com the official IPLT20 website for minute-to-minute LIVE updates."/>
<meta property="og:title" content="IPLT20.com - Indian Premier League Official Website"/>
<title>IPLT20.com - Indian Premier League Official Website</title>
<meta property="og:description" content="Visit IPLT20.com the official IPLT20 website for minute-to-minute LIVE updates."/>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-itunes-app" content="app-id=509837419">
    <meta name="theme-color" content="#263973">

    <link rel="shortcut icon" href="./favicon.ico" />

    <script>window.RESOURCES_VERSION = 'v4.24.0'</script>

    
<!-- Service Worker Registration -->
<script>"serviceWorker"in navigator&&window.addEventListener("load",function(){navigator.serviceWorker.register("/sw.js?resourcesPath=v4.24.0").then(function(e){console.log("ServiceWorker successfully registered with scope: ",e.scope)},function(e){console.error("ServiceWorker registration failed: ",e)})});</script>

    <!-- Service Worker Registration -->
    <script>"serviceWorker"in navigator&&window.addEventListener("load",function(){navigator.serviceWorker.register("/sw.js?resourcesPath=v4.24.0").then(function(e){console.log("ServiceWorker successfully registered with scope: ",e.scope)},function(e){console.error("ServiceWorker registration failed: ",e)})});</script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/screen.css" />

</head>
<body class="t-generic">
    <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-11525770-1', 'auto');
	ga('send', 'pageview');
	
</script>
    <div class="top-bar ">
    <ul class="inline-list top-bar__tournament-info ">
                <li class="inline-list__item  top-bar__tournament-info-item--bold">VIVO IPL 2021</li>
                <li class="inline-list__item  ">19th September - 15th October 2021</li>
    </ul>
    <ul class="inline-list top-bar__logos ">
                <li class="inline-list__item  has-link">
                    <a class="top-bar-link bcci"
                        href="http://www.bcci.tv/" >BCCI.tv</a>
                </li>
    </ul>
       
    </div>

<header role="banner" class="js-main-nav page-header" data-widget="main-nav" data-script="ipl_global-header">
	


    <div class="js-sticky">
        <div class="page-header__menu-wrapper">
            <div class="page-header__logo-container">
                <a href="/" class="page-header__logo">Indian Premier League</a>
            </div>
            <nav role="navigation" class="main-nav">
                <div class="main-nav__menu-container">
                        <div class="main-nav__mobile-strip u-show-desktop">
                            <span class="main-nav__mobile-strip-text">VIVO IPL 2021</span>
                        </div>
                    <div class="main-nav__menu-container-inner js-main-menu">
                        <ul class="main-nav__menu">


    <li class="main-nav__menu-item is-active u-show-desktop">
            <a class="main-nav__link is-active"
                
                href="/">
                Home
            </a>
    </li>


    <li class="main-nav__menu-item  ">
            <div class="main-nav__link main-nav__link--has-drop-down js-navigation-link">
                Matches
	<svg class="icon main-nav__chevron-down">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-chevron-down"></use>
	</svg>
            </div>
            <div class="main-nav__drop-down nav-drop-down nav-drop-down--reveal-on-hover" tabindex="0">
            <div class="nav-drop-down__options">
	<svg class="icon nav-drop-down__options-dropdown-arrow">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-arrow-block-up"></use>
	</svg>
                <ul>
                        <li class="nav-drop-down__option "
                            data-label="Results">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="/getallmatches">
                                Matches
                            </a>
                        </li>
                </ul>
            </div>
    </li>


    <li class="main-nav__menu-item  ">
            <div class="main-nav__link main-nav__link--has-drop-down js-navigation-link">
                Videos
	<svg class="icon main-nav__chevron-down">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-chevron-down"></use>
	</svg>
            </div>
            <div class="main-nav__drop-down nav-drop-down nav-drop-down--reveal-on-hover" tabindex="0">
            <div class="nav-drop-down__options">
	<svg class="icon nav-drop-down__options-dropdown-arrow">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-arrow-block-up"></use>
	</svg>
                <ul>
                        
                        <li class="nav-drop-down__option "
                            data-label="Highlights">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/video/highlights">
                                Highlights
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Magic Moments">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com//video/magic-moments">
                                Magic Moments
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Interviews">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/video/interviews">
                                Interviews
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Press Conferences">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/video/video/press-conferences">
                                Press Conferences
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="All Videos">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com//video/all">
                                All Videos
                            </a>
                        </li>
                </ul>
            </div>
    </li>


    <li class="main-nav__menu-item  ">
            <div class="main-nav__link main-nav__link--has-drop-down js-navigation-link">
                Stats
	<svg class="icon main-nav__chevron-down">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-chevron-down"></use>
	</svg>
            </div>
            <div class="main-nav__drop-down nav-drop-down nav-drop-down--reveal-on-hover" tabindex="0">
            <div class="nav-drop-down__options">
	<svg class="icon nav-drop-down__options-dropdown-arrow">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-arrow-block-up"></use>
	</svg>
                <ul>
                        
                    
                <li class="nav-drop-down__option "
                    data-label="All Time">
                    <!-- <a class="main-nav__link main-nav__link--in-drop-down"
                        
                        href="https://www.iplt20.com/stats/all-time">
                        All Time
                    </a> -->
                    <a class="main-nav__link main-nav__link--in-drop-down"
                        
                        href="/getallstats-batsman">
                        Batsman
                    </a>
                </li>
                <li class="nav-drop-down__option "
                    data-label="All Time">
                    <!-- <a class="main-nav__link main-nav__link--in-drop-down"
                        
                        href="https://www.iplt20.com/stats/all-time">
                        All Time
                    </a> -->
                    <a class="main-nav__link main-nav__link--in-drop-down"
                        
                        href="/getallstats-bowlers">
                        Bowlers
                    </a>
                </li>
                </ul>
            </div>
    </li>


    <!-- <li class="main-nav__menu-item  ">
            <a class="main-nav__link "
                
                href="https://www.iplt20.com/points-table/men/2021">
                Points Table
            </a>
    </li> -->


   


    <li class="main-nav__menu-item  ">
            <div class="main-nav__link main-nav__link--has-drop-down js-navigation-link">
                Teams
	<svg class="icon main-nav__chevron-down">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-chevron-down"></use>
	</svg>
            </div>
            <div class="main-nav__drop-down nav-drop-down nav-drop-down--reveal-on-hover" tabindex="0">
            <div class="nav-drop-down__options">
	<svg class="icon nav-drop-down__options-dropdown-arrow">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-arrow-block-up"></use>
	</svg>
                <ul>
                        <li class="nav-drop-down__option "
                            data-label="Men">
                            <!-- <a class="main-nav__link main-nav__link--in-drop-down" href="https://www.iplt20.com/teams/men">
                                Men
                            </a> -->
                            
                            <a class="main-nav__link main-nav__link--in-drop-down" href="/getallteams">
                                Men
                            </a>
                        </form>
                        </li>
                </ul>
            </div>
    </li>


    <li class="main-nav__menu-item  ">
            <div class="main-nav__link main-nav__link--has-drop-down js-navigation-link">
                News
	<svg class="icon main-nav__chevron-down">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-chevron-down"></use>
	</svg>
            </div>
            <div class="main-nav__drop-down nav-drop-down nav-drop-down--reveal-on-hover" tabindex="0">
            <div class="nav-drop-down__options">
	<svg class="icon nav-drop-down__options-dropdown-arrow">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-arrow-block-up"></use>
	</svg>
                <ul>
                        <li class="nav-drop-down__option "
                            data-label="All News">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/news">
                                All News
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Announcements">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/news/announcements">
                                Announcements
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Match Reports">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/news/match-reports">
                                Match Reports
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Features & Interviews">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/news/features-and-interviews">
                                Features & Interviews
                            </a>
                        </li>
                </ul>
            </div>
    </li>


    <li class="main-nav__menu-item  ">
            <div class="main-nav__link main-nav__link--has-drop-down js-navigation-link">
                More
	<svg class="icon main-nav__chevron-down">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-chevron-down"></use>
	</svg>
            </div>
            <div class="main-nav__drop-down nav-drop-down nav-drop-down--reveal-on-hover" tabindex="0">
            <div class="nav-drop-down__options">
	<svg class="icon nav-drop-down__options-dropdown-arrow">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-arrow-block-up"></use>
	</svg>
                <ul>
                      
                        <li class="nav-drop-down__option "
                            data-label="About">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/about/code-of-conduct-for-players-and-team-officials">
                                About
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Auction">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/auction/2021">
                                Auction
                            </a>
                        </li>
                
                        <li class="nav-drop-down__option "
                            data-label="Photos">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="https://www.iplt20.com/photos">
                                Photos
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Venues">
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="/getallvenues">
                                Venues
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                            data-label="Venues">
                    
                            <a class="main-nav__link main-nav__link--in-drop-down"
                                
                                href="/getallumpires">
                                Umpires
                            </a>
                        </li>
                        <li class="nav-drop-down__option "
                        data-label="Venues">
                
                        <a class="main-nav__link main-nav__link--in-drop-down"
                            
                            href="/signin">
                            Sign In
                        </a>
                    </li>
                </ul>
            </div>
    </li>
                        </ul>
                    </div>
                </div>
                <div class="nav-footer">
    <ul class="inline-list nav-footer__buttons nav-footer__buttons">
                <li class="inline-list__item col-6 has-link">
                    <a class=" btn btn--dark-blue"
                        href="//www.bcci.tv" target="_blank" rel="noopener">BCCI.tv</a>
                </li>
                <li class="inline-list__item col-6 has-link">
                    <a class=" btn btn--dark-blue"
                        href="/" >iplt20.com</a>
                </li>
    </ul>
  
    </ul>

                </div>
            </nav>
            
               
            </div>
        </div>
        <form action="/search" type="GET" class="site-search-form js-form">
            <div class="wrapper wrapper--small site-search-form__container">
                <input class="site-search-form__search-box js-search-input" type="text" name="term" placeholder="Search" aria-label="Search">
                <div class="search__go">
                    <input class="site-search-form__btn js-search-button" type="submit">
	<svg class="icon ">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resources/v4.24.0/i/svg-output/icons.svg#icn-search"></use>
	</svg>
                </div>
            </div>
        </form>
    </div>

    
</section>


    <!-- Script includes -->
    <script src="/resources/v4.24.0/scripts/vendors.min.js"></script>
    
    <script src="/resources/v4.24.0/scripts/main.min.js"></script>
    <script src="/resources/v4.24.0/widgets/common.min.js"></script>

    {%block teams%}
    <br><br><br>
    {% if teams %}
    



        <div class="col-12">
         
            <div class="">
                <ul class="content-grid large-block-grid-4 medium-block-grid-3 small-block-grid-1 flex-grid u-negative-margin team-card-grid">
                    
                    {% for team in teams %}

       <li class="team-card-grid__item"><a class="card team-card" >
           
           <div class="team-card__inner card__inner CSK">
               <div class="card__info">
                   <div class="team-card__logo tLogo58x t-CSK CSK u-show-phablet"></div>
                   <div class="team-card__logo tLogo158x t-CSK CSK u-hide-phablet"></div>
                   <div class="card__details">
                       <h3 class="card__title">{{team[2]}}</h3>
                       
                           
                   </div>
               </div>
               
           </div>
       </a></li>

       {% endfor %}

       </ul>
       </div>
       </div>





    <tr><td></td></tr>
      </table>
      {% else %}
      <h1>No Teams.</h1>
      {% endif %}
    </div>
    
    {% endblock %}

</body>
</html>